@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(185, 75%, 39%);
    
 

}

main {
    position: absolute;
    margin:0rem  10rem 0rem 0rem
    width: 50%;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
}

/* for the mobile view width and height :375px *667 */

.content {
    background: #eaeaea;
    max-height: 54vh;
    position: relative;
    top: 10rem;
    right:20rem;
    border-radius: 1rem;
    z-index: 1;
}


#top {
    border-radius: 1rem 1rem 0rem 0rem;
}


.pic {
    position: relative;
    top: -3.5rem;
    right: -8rem;
    border: .2em solid #eaeaea;
    border-radius: 100%;
}

.top-bg {
    position: relative;
    bottom: 45rem;
    right: -1rem;

}

.bottom-bg {
    position: relative;
    top: 25rem;
    right:35rem;


}


.info {
    position: absolute;
    top: 13.5rem;
    left: 8rem
}

.name-age {
    display: flex;
    flex-direction: row;
}

.age {
    background: hsl(0, 0%, 59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 5px;
}

.place {
    background: #333;
    position: absolute;
    top: 2rem;
    left: 1.5rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

hr {
    position: relative;
    bottom: -3rem;
    opacity: .4;
}

.stats {
    display: flex;
    flex-direction: row;


}

.first-element {
    position: relative;
    top: 5rem;
    left: 2rem;
    /* color: hsl(0, 0%, 59%);*/
} 

.second-element {
    position: relative;
    top: 5rem;
    left: 5rem;
    /* color: hsl(0, 0%, 59%); */
}

.third-element {
    position: relative;
    top: 5rem;
    left: 8rem;
    /* color: hsl(0, 0%, 59%); */
}

.first-element > h4 , .second-element > h4, .third-element > h4{
   background-color:hsl(0, 0%, 59%) ;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;

}